<div class="jumbotron text-center">
    <h1>O mne</h1>
    <h3>Verim v jednoduchosť</h3>
</div>

<div>
    <h3>Som Tibor</h3>
    <p>O sebe by som toho povedal že som velkým 
    fanušikom a zavislakom na jednoduchosti. 
    Lebo verím, že čo nie je jednoduché je 
    pravdepodobne potrebné zjednodušit.</p>
</div>