<section id="book2">
    
    <div class="jumbotron text-center">
        <h1>My First PhotoBook</h1>
        <h3>Pokus omyl</h3>
        <p>Kedže som vždy chcel mať pekné fotky tak som sa dostal
        aj ktomu, že som si doprial fotobook ale ako všetci viete 
        jediná vec čo sa stakouto knižkou dá robiť je ju všade ukazovať. <br>
        A tak ju teda chcem zobraziť aj tu. 
        </p>
    </div>
    <div class="book">
        <%= image_tag('book2/01.png', :width => 300, :alt => 'picture')  %>
        <!--<a href="../images/Book2/01.png" data-lightbox="book 2"><img src="../images/Book02/01t.png" alt="picture_01"></a>-->
    </div>
</section> <!--#book2-->