<div class="jumbotron text-center">
    <h1>MolnART</h1>
    <h3>Moja stránka kde možem byť čím len chcem</h3>
</div>
<div align="center" class="well">
    <h1 align="center"></h1>
    <div Class="image">
        <%= image_tag('abstract.jpg', :width => 600, :alt => 'picture')  %>
    </div>
    <h1>Prečo stránka</h1>
    <p>V dnešnej dobe </p>
</div>
