<div class="jumbotron text-center">
    <h1>MolnART</h1>
    <h3>Moja stránka kde možem byť čím len chcem</h3>
</div>
<div class="image">
    <%= image_tag('abstract.jpg', :width => 600, :alt => 'picture')  %>
</div>
