<div class="jumbotron">
    <h1 align="center">Inšpirácia</h1>
</div>
<div>
    <h2 align="center">Tu by som chcel zobraziť obrázky, ludí 
    čokoľvek čo ma posunulu aspon o trošku daľej.</h2>
</div>
<div>
    <h3 align="center">Toto sú ludia o ktorých by som sa 
    chcel učiť ak by som bol na škole:</h3>
    <a>
        <h3>Vlado Zlatos</h3>
    </a>
    <a><h3>Marian Černý aliaz moderný pračlovek</h3></a>
</div>