<div class="jumbotron text-center">
    <h1>Na tejto stránke sa ešte pracuje</h1>
</div>

<!--
<div class="jumbotron text-center">
    <h1>Moje projekty</h1>
    <h3>Projekty na ktorých práve pracujem</h3>
</div>
<div>
    <h3>IN WORK</h3>
    <p>
        text field
    </p>
</div>
-->
