<div class="jumbotron text-center">
    <h1>Moje projekty</h1>
    <h3>Projekty ktoré chcem zdielať</h3>
</div>
<div>
    <h3>Nadpis</h3>
    <p>Ludské telo je obrosvskou inšpiráciou a čím viacej 
    o ňom viem tým viac je pre mna inšpirácoiu a chcel by 
    som ho vedieť používať v čo najvetšiom rozsahu ako sa 
    len dá.
    </p>
</div>
