<div class="jumbotron text-center">
    <h2>Na tejto stránke sa ešte pracuje</h2>
    <p> A jeden z mojich aktualních projektov je spracovať túto stranku do použiteľneho stavu.</p>
</div>

<!--
<div class="jumbotron text-center">
    <h1>Moje projekty</h1>
    <h3>Projekty na ktorých práve pracujem</h3>
</div>
<div>
    <h3>IN WORK</h3>
    <p>
        text field
    </p>
</div>
-->
