<section id="Resume">
    <div class="jumbotron text-center">
        <div class="row"> 
            <div class="col-xs-4">
                <%= image_tag('Tibor/Tibor_CV.jpg', :class => "about", :height => 200, :alt => 'Tibor_about') %>
            </div>
            <div class="col-xs-8">
                <h1 align="center">Curriculum Vitae</h1>
                <!--<h3 align="center">niečo </h3>-->
            </div> 
         </div>
    </div>


<div class="row">
    <div class="col-xs-9">
        <div align="center" class="well">
            <div>
                
            </div>    
        </div>
    </div>
    <div class="col-xs-3">
        <div class="well">
            <h3>Skills</h3>
            <p>Solidworks</p>
            <p>autoCAD</p>
            <h3>Language</h3>
            <p>Hungarian - C1</p>
            <p>English - B2</p>
            <p>German - A2</p>
            <p>Slovak - C2</p>
            <p>Czech - B2</p>
        </div>
    </div>
</div>

</section> <!--Resume-->

