<div class="well well-lg">
    <h3 align="center">Počitačové znalosti</h3>
    <ul class="list-group"> <h4 align="center">Office: </h4>
        <li class="list-group-item">Word - pokročilý</li>
        <li class="list-group-item">PowerPoint - pokročilý</li>
        <li class="list-group-item">Excel - pokročilý</li>
        <li class="list-group-item">Outlook - pokorčilý</li>
    </ul>
    <ul class="list-group"> <h4 align="center">technické výkresy 2D: </h4>
        <li class="list-group-item">AutoCAD - pokročilý </li>
        <li class="list-group-item">DraftSight - pokročilý</li>
    </ul>
    <ul class="list-group"> <h4 align="center">3D objekty: </h4>
        <li class="list-group-item">Solidworks - pokročilý</li>
        <li class="list-group-item">Inventor - pokročilý</li>
        <li class="list-group-item">CATIA - základy</li>
    </ul>
</div>
    <div class="well well-lg">
        <ul class="list-group"> <h4 align="center">Jazykové znalosti</h4>
            <li class="list-group-item">Slovak - C2</li>
            <li class="list-group-item">Czech - C1</li>
            <li class="list-group-item">Hungarian - C1</li>
            <li class="list-group-item">English - B2</li>
            <li class="list-group-item">German - A2</li>
        </ul>
        
    </div>
    <div class="well well-lg">
        <h3 align="center">Školenia a iné</h3>
        <ul>
            <li>paragraf</li>
            <li>kurz</li>
            <li>vodicak</li>
        </ul>
        
    </div>
    <div class="well well-lg">
        <h3 align="center">Socialné zručnosti a kompetencie</h3>
        <ul>
            <li>paragraf</li>
            <li>kurz</li>
        </ul>
        
    </div>
  