<h1 align="center">Znalosti a iné</h1>

<div class="well well-lg">
    <h3>Počitačové znalosti</h3>
    <ul class="list-group"> <h4>Office: </h4>
        <li class="list-group-item">Word - pokročilý</li>
        <li class="list-group-item">PowerPoint - pokročilý</li>
        <li class="list-group-item">Excel - pokročilý</li>
        <li class="list-group-item">Outlook - pokorčilý</li>
    </ul>
    <ul class="list-group"> <h4>technické výkresy 2D: </h4>
        <li class="list-group-item">AutoCAD - pokročilý </li>
        <li class="list-group-item">DraftSight - pokročilý</li>
    </ul>
    <ul class="list-group"> <h4>3D objekty: </h4>
        <li class="list-group-item">Solidworks - pokročilý</li>
        <li class="list-group-item">Inventor - pokročilý</li>
        <li class="list-group-item">SketchUp - pokročilý</li>
        <li class="list-group-item">CATIA - základy</li>
    </ul>
    <ul class="list-group"> <h4>Grafika: </h4>
        <li class="list-group-item">Articulate Storyline - pokročilý</li>
        <li class="list-group-item">Gimp - pokročilý</li>
        <li class="list-group-item">Photoshop - základy</li>
        <li class="list-group-item">Scribus - základy</li>
        <li class="list-group-item">Blender - základy</li>
    </ul>
    <ul class="list-group"> <h4>Simulácie: </h4>
        <li class="list-group-item">Teplotné 6sigmaET - pokročilý</li>
        <li class="list-group-item">Svetelné DIAlux- základy</li>
        <li class="list-group-item">Svetelné Relux - základy</li>
    </ul>
    <ul class="list-group"> <h4>Webstránky: </h4>
        <li class="list-group-item">html - základy</li>
        <li class="list-group-item">css - základy</li>
        <li class="list-group-item">Ruby on rails - základy</li>
        <li class="list-group-item">java - základy</li>
        <li class="list-group-item">jQuery - základy</li>
    </ul>
    <ul class="list-group"> <h4>Iné: </h4>
        <li class="list-group-item">Návrh plošných spojov - Eagle - pokročilý</li>
        <li class="list-group-item">programovací jazyk C++ - základy</li>
    </ul>
</div>

<div class="well well-lg">
    <h3>Jazykové znalosti</h3>
    <ul class="list-group"> 
        <li class="list-group-item">Slovak - C2</li>
        <li class="list-group-item">Czech - C1</li>
        <li class="list-group-item">Hungarian - C1</li>
        <li class="list-group-item">English - B2</li>
        <li class="list-group-item">German - A2</li>
    </ul>
</div>

<div class="well well-lg">
    <h3>Školenia a iné</h3>
    <ul class="list-group">
        <li class="list-group-item">Vodičský preukaz skupiny - B (200000km)</li>
        <li class="list-group-item">Letovanie plošných spojov - expert</li>
        <li class="list-group-item">vElektrotechnik na riadenie činnosti alebo 
            na riadenie prevádzky (§ 23) vyhlášky č. 508/2009 Z.z.</li>
        <li class="list-group-item">Tréner Kulturistiky a Fitnes I kvalifikačného stupňa</li>
        <li class="list-group-item">Udemy</li>
        <li class="list-group-item">EDX</li>
    </ul>
</div>

<div class="well well-lg">
    <h3>Socialné zručnosti a kompetencie</h3>
    <ul class="list-group">
        <li class="list-group-item">Pozitívný</li>
        <li class="list-group-item">Seba prekonávačný</li>
    </ul>
</div>
  
<!--  <div class="progress">-->
<!--  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">-->
<!--    <span class="sr-only">60% Complete</span>-->
<!--  </div>-->
<!--</div>-->
  