<h1 align="center">Vzdelanie</h1>

<div class="list-group well">
    <p>09 / 2003 &emsp; - &emsp; 01 / 2005</p>
    <a href="#study"><div class="prax_title">Inžinier optoelektroniky</div></a>
    <div>VŠ II. stupňa</div>
    <a href="#study"><div class="prax_title">STU Fakulta elektrotechniky a informatiky v Bratislave</div></a>
</div>    

<div class="list-group well">
    <p>09 / 1999 &emsp; - &emsp; 06 / 2003</p>
    <a href="#study"><div class="prax_title">Bakalár mikroktroniky </div> </a>
    <div>VŠ I. stupňa</div>
    <a href="#study"><div class="prax_title">STU Fakulta elektrotechniky a informatiky v Bratislave</div></a>
</div>  

<div class="list-group well">
    <p>09 / 1995 &emsp; - &emsp; 06 / 1999</p>
    <a href="#study"><div class="prax_title">Elektrotechnik so zameraním na automatizačnú techniku</div></a>
    <div>Stredná škola s maturitou</div>
    <a href="#study"><div class="prax_title">Stredné odborné učilište chemické v Bratislave, Slovnaft a.s.</div></a>
</div>  