<div class="jumbotron">
    <div class="row">
        <div class="col-xs-4">
            <%= image_tag('Tibor/Tibor_CV.jpg', :class => "about", :height => 200, :alt => 'Tibor_about') %>
        </div>
        <div class="col-xs-8">
            <h1 align="center">Hladač riešenia</h1>
            <h2 align="center"> Životopis </h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <%= render 'work' %>
        </div>
        <div class="col-xs-3">
            <%= render 'knowledge' %>
        </div>
    </div>
    
</div>

